body {
    font-family: "Jim Nightshade", cursive;
    padding-right: 0.5em;
    padding-left: 0.5em;
    padding-bottom: 1em;
    padding-top: 0.5em;
    opacity: 0.9;
    filter: alpha(opacity=30);
    z-index: -3;
}

img {
    display: inline-block;
    vertical-align: center;
    max-height: 100%;
    max-width: 100%;
    padding-top: 1em;
    padding-bottom: 1em;
    opacity: 3;
}

figcaption {
    color: #f00;
    font-family: "Jim Nightshade", cursive;
    text-align: center;
    font-size: 2em;
}

p {
    font: 1em slabo, serif;
    background-color: white;
    border-radius: 25px;
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: center;
}

main, second {
    text-align: center;
}

.container {
	padding-top: 0.313em;
	border-width: 1em;
	max-width: 80em;
}

.col-lg-12 {
	font-size: 3.75em;
    padding-bottom: 0.313em;
    text-align: center;
}
